---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-size-base: 23px;
$font-family-sans-serif: "Acme", "Helvetica Neue", Helvetica, Arial, sans-serif;
$standard-margin: 20px;

@import "bootstrap";
@import "base";
@import "layout";
