<footer>
    <div class="container">
        <div class="row">
            {% if include.wide %}
            <div class="col-xs-12">
            {% else %}
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            {% endif %}
                <div class="footer-text">
                    <span class="copyright">
                        {% assign year = site.time | date: "%Y" %}
                        {% case year %} 
                            {% when '2018' %} 
                                &copy; 2018
                            {% else %} 
                                &copy; 2018-{{year}}
                        {% endcase %} 
                        Meticulous Monster.
                        <span class="line-break"><br/></span>
                        All rights reserved.
                    </span>
                    <span class="separator"> | </span>
                    <span class="privacy">
                        <a href="{{site.baseurl}}/privacy-policy">Privacy Policy</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>