<script src="{{"/scripts/jquery-2.2.4.min.js" | prepend: site.baseurl}}"></script>
<script src="{{"/scripts/bootstrap.min.js" | prepend: site.baseurl}}"></script>

<!-- Image Gallery -->
<link rel="stylesheet" href="{{"/scripts/photoswipe/photoswipe.css" | prepend: site.baseurl}}"> 
<link rel="stylesheet" href="{{"/scripts/photoswipe/default-skin/default-skin.css" | prepend: site.baseurl}}"> 
<script src="{{"/scripts/photoswipe/photoswipe.min.js" | prepend: site.baseurl}}"></script> 
<script src="{{"/scripts/photoswipe/photoswipe-ui-default.min.js" | prepend: site.baseurl}}"></script> 
<script type="text/javascript">
  function openImageGallery(items, startIndex, getThumbnailBoundsFn) {
    var photoSwipeElement = document.querySelectorAll('.pswp')[0];
    var options = {
      index: startIndex,
      showHideOpacity: true,
      getThumbBoundsFn: getThumbnailBoundsFn
    };
    var imageGallery = new PhotoSwipe(photoSwipeElement, PhotoSwipeUI_Default, items, options);
    imageGallery.init();
  }
</script>

<!-- Analytics -->
<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(101113709);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101113709ns.gif" /></p></noscript>