nav.navbar {
    border: none;

    a.page-link {
        margin-top: 47px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 0;
        transition-property: all;
        transition-duration: 100ms;
        transition-timing-function: ease-in-out;

    }

    a.page-link:hover {
        transform: scale(1.25);
        color: $brand-primary;
    }
}

nav.navbar:after {
    background: linear-gradient(-45deg, $body-bg-color 16px, transparent 0), linear-gradient(45deg, $body-bg-color 16px, transparent 0);
    background-repeat: repeat-x;
    background-size: 32px 32px;
    width: 100%;
    height: 32px;
}

h2 {
    font-size: 35px;
}

body.bludgeon {
    background-color: $bludgeon-bg-color;
    color: $bludgeon-color;

    nav.navbar {
        $bludgeon-header-bg-color: lighten($bludgeon-bg-color, 15%);
        background-color: $bludgeon-header-bg-color;

        a.page-link:hover, a.page-link:focus {
            background-color: $bludgeon-header-bg-color;
        }
    }

    nav.navbar:after {
        background: linear-gradient(-45deg, $bludgeon-bg-color 16px, transparent 0), linear-gradient(45deg, $bludgeon-bg-color 16px, transparent 0);
        background-repeat: repeat-x;
        background-size: 32px 32px;
        width: 100%;
        height: 32px;
    }
}

.bludgeon {
    h1, h2 {
        font-family: 'Bludgeon', sans-serif;
    }

    h1 {
        font-size: 80px;
    }
}