nav.navbar {
    border: none;

    a.page-link {
        font-family: $font-family-headings;
        font-size: 21px;
        text-decoration: none;
        border-bottom: 2px dashed $text-color;
        margin-top: 47px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 0;
        transition-property: all;
        transition-duration: 100ms;
        transition-timing-function: ease-in-out;

        &:hover {
            transform: scale(1.25);
            color: $brand-primary;
            border-bottom: 2px solid $brand-primary;
        }
    }

    .navbar-toggle {
        background-color: $text-color;
        border: none;
        border-radius: 0;

        &:focus {
            background-color: $text-color;
        }

        &:hover, &:hover:focus {
            background-color: $brand-primary;
        }

        & .icon-bar {
            background-color: $heading-bg-color;
        }
    } 

    #navbar-dropdown {
        a {
            text-align: center;
            font-family: $font-family-headings;
            font-size: 21px;
            text-decoration: none;
            border-color: $text-color;
            border-width: 2px;
            border-radius: 0;
            color: $text-color;
            background-color: $heading-bg-color;

            &:hover {
                color: $brand-primary;
                text-decoration: underline;
            }
        }
    }

    &:after {
        background: url("/images/zigzag.png");
        background-repeat: repeat-x;
        background-color: $body-bg-color;
        width: 100%;
        height: 32px;
    }
}

.welcome {
    margin-top: 20px;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.tagline {
    font-style: italic;
    text-align: center;
}

hr {
    border-top: 2px dashed $text-color;
    width: 500px;

    @media (max-width: 599px) {
        width: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-headings;
}

h2 {
    font-size: 35px;
}

a {
    text-decoration: none;

    &:hover {
        color: $brand-primary;
        text-decoration: underline;
    }
}

img.bludgeon-link {
    padding: 10px;
    border: 7px solid $bludgeon-color;
    border-radius: 15px;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;

    &:hover {
        border-color: $brand-primary;
    }
}

#mc_embed_signup {
    input[type="email"] {
        padding: 5px;
        border: 2px solid $text-color;
        font-size: 16px;
        background-color: $body-bg-color;

        &::placeholder {
            color: lighten($text-color, 5%);
            font-style: italic;
        }

        &:focus {
            border-color: $brand-primary;
            outline: none;
        }
    }

    input[type="submit"] {
        padding: 7px;
        border: none;
        background-color: $text-color;
        color: $body-bg-color;
        font-size: 16px;

        &:hover {
        background-color: $brand-primary;
        }

        &:focus {
            outline: none;
        }
    }
}

body.bludgeon {
    background-color: $bludgeon-bg-color;
    color: $bludgeon-color;
    
    @media (min-width: 768px) {
        background-image: url("/images/bludgeon/spikes-left.png"), url("/images/bludgeon/spikes-right.png");
        background-position-x: left, right;
        background-repeat: repeat-y, repeat-y;
    }

    nav.navbar {
        $bludgeon-header-bg-color: lighten($bludgeon-bg-color, 20%);
        background-color: $bludgeon-header-bg-color;

        a.page-link:hover, a.page-link:focus {
            background-color: $bludgeon-header-bg-color;
        }

        .navbar-toggle .icon-bar {
            background-color: $bludgeon-header-bg-color;
        }

        #navbar-dropdown {
            a {
                background-color: $bludgeon-header-bg-color;
            }
        }
    }

    nav.navbar:after {
        background: url("/images/bludgeon/zigzag.png");
        background-repeat: repeat-x;
        background-color: $bludgeon-bg-color;
        width: 100%;
        height: 32px;
    }
}

.bludgeon {
    h1, h2 {
        font-family: 'Bludgeon', sans-serif;
    }

    h1 {
        font-size: 80px;
    }

    #mc_embed_signup {
        input[type="email"] {
            background-color: $bludgeon-bg-color;
        }

        input[type="submit"] {
            color: $bludgeon-bg-color;
        }
    }
}