nav {
    .navbar-brand {
        padding-top: 13px;
        padding-bottom: 0;

        img {
            margin-left: -60px;
        }
    }
}
article {
    img {
        margin-top: $standard-margin;
        margin-bottom: $standard-margin;
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 100%;
    }
}

.bludgeon {
    h1 {
        text-align: center;
    }
}