nav {
    .navbar-brand {
        padding-top: 5px;
        padding-bottom: 0;

        img {
            margin-left: -35px;
            @media (min-width: 768px) {
                margin-left: -60px;
            }
        }
    }
}
article {
    img {
        margin-top: $standard-margin;
        margin-bottom: $standard-margin;
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 100%;
    }
}

.bludgeon {
    .spike-cover {
        @media (min-width: 768px) {
            position: absolute;
            top: 142px;
            height: 133px;
            width: 32px;
            background-color: $bludgeon-bg-color;

            &.right {
                right: 0;
            }
        }
    }

    .bird-torch {
        position: absolute;
        top: 170px;

        &.right {
            right: 0;
            transform: scaleX(-1);
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

    .torch {
        position: absolute;
        margin-top: -4px;
        left: -50px;

        @media (max-width: 799px) {
            display: none;
        }
    }

    img.logo {
        margin-top: 60px;
    }
}