<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}

<body class="bludgeon">
    {% include header.html %}
    <main>
        <div class="spike-cover left"></div>
        <div class="spike-cover right"></div>
        <img src="/images/bludgeon/bird-torch.gif" class="bird-torch left" alt="Bird torch"/>
        <img src="/images/bludgeon/bird-torch.gif" class="bird-torch right" alt="Bird torch"/>

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <article>
                        {{content}}
                    </article>
                </div>
            </div>
        </div>
    </main>
    {% include scripts.html %}
</body>

</html>