<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}

<body class="press-kit">
    {% include header.html wide="true" %}
    <main>
        <div class="container">
            <article>
                <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ page.title }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-6 fact-sheet">
                        {{ page.factSheet | markdownify }}
                    </div>
                    <div class="col-md-7 col-sm-6">
                        {{content}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% for section in page.sections %}
                            <h2>{{ section.title }}</h2>

                            {% if section.downloadUrl %}
                                <a href="{{ section.downloadUrl }}" target="_blank">Download (from Google Drive)</a>
                            {% endif %}

                            {% case section.type %}
                                {% when 'markdown' %}
                                    {{ section.content | markdownify }}
                                {% when 'video-gallery' %}
                                    <div class="row">
                                        {% for videoId in section.videoIds %}
                                            <div class="col-md-4 col-xs-12">
                                                {% include youtube.html id=videoId %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% when 'image-gallery' %}
                                    {% include image-gallery.html id=section.galleryId path=section.imagePath thumbnail-path=section.thumbnailPath %}
                            {% endcase %}
                        {% endfor %}
                    </div>
                </div>
            </article>
        </div>
    </main>
    {% include footer.html wide="true" %}
    {% include scripts.html %}
</body>

</html>